<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>Login |GS 칼텍스</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="public/img/favicon.ico">

    <!-- Template -->
    <link rel="stylesheet" href="public/graindashboard/css/graindashboard.css">
  </head>

  <body class="">

    <main class="main">

      <div class="content">

			<div class="container-fluid pb-5">

				<div class="row justify-content-md-center">
					<div class="card-wrapper col-12 col-md-4 mt-5">
						<div class="brand text-center mb-3">
							<a href="/"><img src="C:\py\GS.png" width="240" height="70"></a>
						</div>
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">LOGIN</h4>
								<form>
									<div class="form-group">
										<label for="email">ID</label>
										<input id="email" type="email" class="form-control" name="email" required="" autofocus="">
									</div>

									<div class="form-group">
										<label for="password">PASSWORD
										</label>
										<input id="password" type="password" class="form-control" name="password" required="">
										<div class="text-right">
										</div>
									</div>


									<!-- <button type="button" onclick="location.href='joinUs.jsp' ">회원가입</button> -->

									<div class="form-group no-margin">
										<a href="http://127.0.0.1:5000/" class="btn btn-primary btn-block">
											SIGN IN
										</a>
									</div>
								</form>
							</div>
						</div>
						<footer class="footer mt-3">
							<div class="container-fluid">
								<div class="footer-content text-center small">
									<span class="text-muted">&copy; BIBIMBAP.</span>
								</div>
							</div>
						</footer>
					</div>
				</div>



			</div>

      </div>
    </main>

	<script src="public/graindashboard/js/graindashboard.js"></script>
    <script src="public/graindashboard/js/graindashboard.vendor.js"></script>
  </body>
</html>
